body{
    text-transform: uppercase;
    text-align: center;
    letter-spacing: .5em;
    font-family: 'Raleway', sans-serif;
    color: rgba(0, 0, 0, 0.5);
    background: linear-gradient(to right, red, yellow);
    margin-top: 10px;
}

h1{
    text-transform: uppercase;
    text-align: center;
    letter-spacing: .5em;
    font: 600 3.5em 'Raleway', sans-serif;
    color: rgba(0, 0, 0, 0.5);
    width: 100%;
}

h2{
    text-transform: none;
    text-align: center;
    letter-spacing: .1em;
    color: rgba(0, 0, 0, 0.5);
    font: 900 1.95em 'Times New Roman', Times, serif;
    margin-top: 15px;
}

.btn-primary{
    margin-top: 10px;
    background-color: #ff6700;
    font-weight: 900;
}